/* GENERAL */
@font-face {
    font-family: Poppins;
    src: url("assets/poppins.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: #333;
    background: rgb(243, 243, 243);
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* HEADER */
#header {
    padding-left: 20%;
    padding-right: 20%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: url(assets/2023-background2.png);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 100px 100px inset rgb(243, 243, 243);
}

@media screen and (max-height: 700px) {
    #header {
        height: auto;
        display: block;
        padding-top: 10%;
    }
}

#header h1 {
    font-size: 60pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#header p {
    font-size: 20pt;
}



.link-btn {
    color: #4D0153;
    border: 2px solid #4D0153;
    padding: 10px;
    border-radius: 4px;
    font-size: 20pt;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.8);
}

.link-btn:hover {
    background: #4D0153;
    color: rgb(243, 243, 243);
    cursor: pointer;
}

#header img {
    height: 80pt;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    #header {
        padding-left: 10%;
        padding-right: 10%;
    }

    #header h1 {
        font-size: 40pt;
    }

    #header img {
        height: 60pt;
    }

    .link-btn {
        color: #4D0153;
        border: 2px solid #4D0153;
        padding: 5px;
        font-size: 15pt;
        margin-right: 10px;
        display: block;
    }
}

/* SECTIONS */

.section {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 16pt;
    margin-bottom: 200px;
}

h1 {
    font-size: 40pt;
    padding-bottom: 0px;
    margin: 10px 0px;
}

h2 {
    font-size: 20pt;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 18pt;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #4D0153;
}

h4 {
    font-size: 24pt;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    color:#4D0153;
}

.muted-btn {
    color: #4D0153;
    text-align: right;
    display: block;
    text-decoration: none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .section {
        padding-left: 10%;
        padding-right: 10%;
    }

    h1 {
        font-size: 30pt;
    }

    h2 {
        font-size: 15pt;
    }

    h3 {
        font-size: 14pt;
    }
}

/* MEMBERS */
#member-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

#member-grid > div {
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px #4D0153;
    transition: 0.2s all;
}

#member-grid div div {
    padding: 20px;
    background-color: transparent;
}

#member-grid > div:hover {
    background-color: rgb(230, 230, 230);
}

#member-grid div p {
    padding: 0px;
    margin: 0px;
}

#member-grid div img {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

/* SPONSORS */
#sponsor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}
#sponsor-grid img {
    width: 100%;
    filter: grayscale(100%) opacity(0.5);
    transition: 0.2s all;
    cursor: pointer;
}
#sponsor-grid img:hover {
    filter: grayscale(0%);
}

/* GALLERY */

.img-standard {
    width: 100%;
    border-radius: 6px;
}

#gallery-grid {
  display: flex;
  flex-wrap: wrap;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 6px;
    box-sizing: border-box;
}

.column img {
    margin-top: 12px;
    vertical-align: middle;
    width: 100%;
    border-radius: 6px; 
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}